:root {
  color: #1f1f1f;
  background-color: #f5f2e9;
  font-family: "Manrope", "Trebuchet MS", sans-serif;
  min-height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}
